<%= form_for @collection, url: path, html: {class: "form-collection"} do |f| %>
  <%= render "shared/error_messages", record: @collection %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: "quem será lembrado?", disabled: !@collection.new_record? %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: 'form-control', placeholder: "o que será lembrado?" %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %>
    <div id="deadline-field" class="input-group date">
      <%= f.text_field :deadline, value: @collection.deadline_formatted, class: "form-control", placeholder: "quando será lembrado?" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :repetition %>
    <%= f.select :repetition, repetition_options, {}, class: 'form-control' %>
  </div>

  <%= f.submit "Salvar", class: 'btn btn-primary' %>
  <%= link_to t('.cancel', default: "Cancelar"), root_path, class: 'btn' %>
<% end %>
