<div class="container">
  <%= form_for @user, html: {class: "form-signin"} do |f| %>
    <fieldset>
      <legend>Cadastro</legend>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Digite seu Nome" %>
      </div>
      <div class="form-group">
        <%= f.text_field :username, class: "form-control", placeholder: "Digite seu Username" %>
      </div>
      <div class="form-group">
        <%= f.text_field :yo_username, class: "form-control", placeholder: "Digite seu Username do Yo" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: "Digite seu Email" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Digite sua Senha" %>
      </div>
      <button type="submit" class="btn btn-default btn-block">Salvar</button>
      <br/>
      <%= link_to "Acesse", new_session_path %> sua conta.
    </fieldset>
  <% end %>
</div>
