<div class="container">
  <div class="profile-container">
    <div class="media">
      <%= image_tag avatar_url(current_user), class: "pull-left" %>
      <div class="media-body">
        <div class="media">
          <h4><%= current_user.name %></h4>
          <h5><%= current_user.email %></h5>
          <%= link_to "alterar senha", edit_user_path(current_user) %>
          <br/>
          <%= link_to "logout", logout_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-container">
    <p><strong>Apresente o <%= link_to "Zaqueu", "http://idopter.com/users/paulo-igor/ideas/186-cobrador-online-zaqueu", target: "_blank" %> para seus amigos:</strong></p>
    <%= render partial: "shared/addthis" %>
  </div>
  <br/>

  <div class="btn-group">
    <%= link_to "Novo Lembrete", new_user_collection_path(current_user), class: "btn" %>
  </div>

  <hr/>
  <h3>Próximos Lembretes (<%= current_user.collections.count %>)</h3>
  <% if current_user.collections.any? %>
    <table class="table table-hover">
      <th>Email</th>
      <th>Descrição</th>
      <th>Próxima Envio</th>
      <th>Repetir</th>
      <th><center>Nº de Envios</center></th>
      <th></th>
      <th></th>

      <%= render partial: "collection", collection: current_user.collections_ordered %>
    </table>
  <% end %>
</div>
