<div class="container">
  <div class="profile-container">
    <div class="media">
      <%= image_tag avatar_url(current_user), class: "pull-left" %>
      <div class="media-body">
        <div class="media">
          <h5><%= current_user.email %></h5>
          <%= link_to "logout", logout_path %>
        </div>
      </div>
    </div>
  </div>
  <br/>

  <div class="btn-group">
    <%= link_to 'Nova Cobrança', new_user_collection_path(current_user), class: "btn" %>
  </div>

  <hr/>
  <h3>Próximas Cobranças</h3>
  <table class="table table-hover">
    <th>Email de Cobrança</th>
    <th>Descrição</th>
    <th>Dia da Cobrança</th>
    <th>Número de Envios</th>
    <th></th>
    <th></th>

    <%= render partial: "collection", collection: current_user.collections_ordered %>
  </table>
</div>
